<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{titleMenu}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h3>{{title}}</h3>

  <p>
    {{message}}
  </p>
  <p>
    <button ion-button color="primary" menuToggle>Toggle Menu</button>
  </p>

</ion-content>
